<div class="site-container">
  {% block header %}
    {{ header|default(null) }}
    {% include '@layouts/site-header/site-header.twig' %}
  {% endblock %}

  <main id="main-content" tabindex="-1" role="main" class="main">
    {% block main %}
      {{ main }}
    {% endblock %}
  </main>

  {% block footer %}
    {{ footer }}
  {% endblock %}
</div>
