/**
 * @file
 * Article styles.
 */

.article__date,
.article__byline,
.article__readtime {
  margin-block-end: var(--size-1);
}

.article__date svg, .article__byline svg, .article__readtime svg {
    display: inline-block;
    font-size: inherit;
    inline-size: 1em;
    vertical-align: -0.125em;
  }

.article__date span, .article__byline span, .article__readtime span {
    margin-inline-start: var(--size-1);
  }

.article__tags,
.article__people {
  margin-block: var(--size-10);
}

.article__tags h2, .article__people h2 {
    font-family: var(--font-heading);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-500);
    margin-block-end: var(--size-2);
  }

.article__people {
  margin-block-start: var(--size-10);
}

.article__people h3 {
    margin-block: 0;
  }
