.carousel-new {
  max-inline-size: var(--size-max-content-width);
}

  .carousel-new .splide__slide__container {
    position: relative;
  }

  .carousel-new .splide__slide__container figcaption {
      background: linear-gradient(180deg, rgba(107, 107, 107, 2%), rgba(0, 0, 0, 90%));
      color: var(--white);
      font-size: var(--font-size-0);
      inset-block-end: 0;
      inset-inline-end: 0;
      inset-inline-start: 0;
      padding: var(--size-2);
      padding-block-start: var(--size-6);
      position: absolute;
    }

  @media (width >= 1024px) {

  .carousel-new .splide__slide__container figcaption {
        font-size: medium;
        font-size: initial;
        padding: var(--size-3);
        padding-block-start: var(--size-9)
    }
      }

  /* Applies same overlay treatment as the caption, to the arrows. */

  .carousel-new .splide__arrow {
    background-color: rgba(0, 0, 0, 60%);
  }

  /* Overrides default navigational arrows color to white. */

  .carousel-new .splide__arrow svg {
      fill: var(--white);
    }

  /* If the Carousel has a title, adds the title approximate height to the position of the arrows to ensure they are vertically aligned with the images. */

  .carousel-new .carousel-new__title + .splide__arrows > .splide__arrow {
    inset-block-start: calc(50% + 50px);
  }

.carousel-new__title {
  color: var(--gray-900);
  font-family: var(--font-heading);
  font-size: var(--font-size-8);
  line-height: var(--leading-normal);
  margin-block-end: var(--size-6);
}

/* Change the title text color based on background color being selected. */

.bg-santa-barbara-sand .carousel-new__title {
    color: var(--gray-900), var(--midnight-observatory);
  }

.bg-venice-canal .carousel-new__title {
    color: var(--white);
  }
