/**
 * @file
 * contributors.
 */

.contributor {
  background-color: #f7f7f7;
  padding-block: 35px;
  padding-inline: 35px 30px;
}

@media (width >= 768px) {

.contributor {
    display: flex
}
  }

.contributor h1 {
    margin-block-end: var(--size-8);
  }

.contributor .contributor__image img {
      margin-inline: auto;
      padding-block-end: 25px;
    }

@media (width >= 768px) {

.contributor .contributor__image {
      padding-block-end: 0;
      width: 25%
  }

      .contributor .contributor__image img {
        margin-inline: 0;
      }
    }

.contributor .contributor__bio {
    padding-inline: 25px;
  }

@media (width >= 768px) {

.contributor .contributor__bio {
      width: 75%
  }
    }
