/**
 * @file
 * Widget cta styles.
 */

.cta-banner {
  background: linear-gradient(to right, var(--sky-900), var(--ucla-blue));
  color: var(--white);

  /* Activates container query for the .cta-banner wrapper. */
  container: cta-banner / inline-size;
  margin-inline: auto;
}

/* In Storybook, the decorator for background color apends the corresponding
  background color CSS class as a sibling of the `.cta-banner` class rather than
  a parent of. For this reason, I use the two selectors below
  (One for Drupal and one for Storybook). */

.bg-santa-barbara-sand .cta-banner,
  .cta-banner.bg-santa-barbara-sand {
    background: var(--santa-barbara-sand);
    color: var(--midnight-joshua-tree);
  }

.bg-venice-canal .cta-banner,
  .cta-banner.bg-venice-canal {
    background: var(--venice-canal);
  }

.cta-banner__inner {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
  padding: var(--size-10);
}

/*
 * Using the container query name previously created.
 * TODO: The query does not seem to work with custom properties.
 */

@container cta-banner (min-inline-size: 80ch) { /* ~ 640px */
  .cta-banner__image {
    margin-inline: auto;
    max-inline-size: 50%;
  }
}

@container cta-banner (min-inline-size: 96ch) { /* ~ 768px */
  /* Changes display to grid to properly resize each column. */
  .cta-banner__inner {
    align-items: center;
    display: grid;
    grid-template-columns: auto var(--size-80); /* ~ 320px */
    padding-block: var(--size-20);
  }

  /* Prevents text length from growing beyond 75ch to improve text readability. */
  .cta-banner__content {
    display: grid;
    grid-auto-columns: fit-content(75ch);
  }

  .cta-banner__image {
    max-inline-size: initial;
  }
}

@container cta-banner (min-inline-size: 180ch) { /* ~ 1440px */
  .cta-banner__inner {
    grid-template-columns: auto var(--size-113); /* ~ 450px */
    padding: var(--size-10) 0;
  }
}

.cta-banner__title {
  color: var(--white);
}

/* margin-block-start: 0; */

.bg-santa-barbara-sand .cta-banner__title,
  .cta-banner__title.bg-santa-barbara-sand {
    color: var(--midnight-joshua-tree);
  }
