/**
 * @file
 * Eyebrow styles.
 */

.eyebrow {
  color: var(--op-blue);
  display: inline-block;
  font-size: var(--font-size-3);
}

.eyebrow span {
    display: inline-block;
    font-size: inherit;
    font-weight: 700;
    line-height: var(--leading-tight);
    text-transform: uppercase;
  }

.eyebrow.eyebrow--light {
    color: var(--white);
  }
