/**
 * @file
 * Form item label styles.
 */

.form-item__label {
  display: block;
  font-family: var(--font-system);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-700);
  line-height: var(--leading-none);
  margin-block: var(--size-1);
  padding-block-end: var(--size-1);
}

.form-item__label[for] {
    cursor: pointer;
  }

.form-item__label.option {
    display: inline;
    font-weight: normal;
  }

.form-item__label.is-disabled {
    color: var(--gray-600);
    cursor: default;
  }

.form-item__label.form-required::after {
    background-image: url("/images/required.svg");
    background-repeat: no-repeat;
    background-size: 0.5rem 0.5rem;
    block-size: 1rem;
    content: "";
    display: inline-block;
    inline-size: 1rem;
    margin-inline: 0.3em;
    vertical-align: text-top;
  }

.form-item__label--multiple-value-form {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-block: 0;
}
