/**
 * @file
 * Home Spotlight styles.
 *
 */

.home-spotlight {
  block-size: 100%;
  margin-block-start: 2px;
  padding-inline: 0;
  position: relative;
  width: 100%;
}

.home-spotlight__content {
  display: flex;
  padding-block: 0;
  position: relative;
}

.home-spotlight__col1 {
  width: 61%;
}

.home-spotlight__col2 {
  display: flex;
  flex-direction: column;
  width: 39%;
}

#storybook-root .home-spotlight__content {
  margin: 0 auto;
  max-inline-size: var(--size-container);
}

