/**
 * @file
 * Sidebar toggle styling
 */

.sidebar-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  block-size: var(--size-8);
  border: 0;
  cursor: pointer;
  inline-size: var(--size-8);
  margin-block-start: var(--size-2); /* Visually align button with menu link text. */
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  position: relative;
  text-indent: -999px;
}

.sidebar-toggle:focus {
    outline: auto 2px var(--blue-500);
    outline-offset: 2px;
  }

.sidebar-toggle .icon {
    block-size: 16px;
    border-radius: 2px;
    inline-size: 16px;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s;
  }

.sidebar-toggle .icon::before,
    .sidebar-toggle .icon::after {
      block-size: 0;
      border-block-start: solid 3px var(--ucla-blue);
      content: "";
      inline-size: var(--size-4);
      inset-block-start: 50%;
      inset-inline-start: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }

.menu-sidebar--level-2 .sidebar-toggle .icon::before, .menu-sidebar--level-2 .sidebar-toggle .icon::after {
        border-block-start: solid 3px var(--ucla-blue);
      }

.menu-sidebar--level-3 .sidebar-toggle .icon::before, .menu-sidebar--level-3 .sidebar-toggle .icon::after {
        border-block-start: solid 3px var(--malibu-dolphin);
      }

.sidebar-toggle .icon::after {
      transform: translate(-50%, -50%) rotate(90deg);
      transition: opacity 0.2s;
    }

.sidebar-toggle[aria-expanded="true"] .icon::after {
    opacity: 0%;
  }

/* aria-hidden attribute is removed by JS. Button is non-functional  until JS is enabled. */

.sidebar-toggle[aria-hidden="true"] {
    pointer-events: none;
  }
