/**
 * @file
 * Overview Element.
 */

.overview--overview-element h4 {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-400);
    line-height: var(--font-size-6);
    margin-block-end: var(--size-7);
    margin-block-start: 0;
  }

.overview--overview-element h5 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-400);
    line-height: var(--font-size-5);
    margin-block-end: var(--size-7);
    margin-block-start: 0;
    text-transform: uppercase;
  }
