/**
 * @file
 * Page styles.
 *
 */

/** Page content layout.
 * These styles are shared by Events, Person and Articles full nodes.
 * The styles are simply for the two column content are.
 */

.l-constrain {
  max-inline-size: var(--size-laptop);
}

.l-constrain__wide {
    max-inline-size: var(--size-container);
  }

.page-section {
  margin-block-end: var(--size-20);
  padding-inline: 0;
}

.page-section.tight {
    margin-block-end: var(--size-12);
  }

.page-section.none {
    margin-block-end: 0;
  }

.page-section.p-5 {
  padding-inline: 1.25em;
}

.page-section:last-child {
  margin-block-end: var(--size-1);
}

.mm-page.mm-slideout {
  padding-top: 0 !important;
}

@media (width >= 1024px) {

.content__grid {
    display: grid;
    grid-column-gap: var(--size-10);
    grid-template-columns: calc(50% - 1rem) 1fr;
    grid-template-rows: auto 1fr
}
  }

.content__grid .content__content {
    margin-block-end: var(--size-8);
  }

@media (width >= 1024px) {

.content__grid .content__content {
      grid-column: 1/1;
      grid-row: 1/4;
      margin-block-end: 0
  }
    }

@media (width >= 1024px) {

.content__grid .content__sidebar {
      grid-column: 2/3
  }
    }

.content__meta {
  margin-block-end: var(--size-10);
}

.content__media {
  margin-block-end: var(--size-8);
}

@media (width >= 1024px) {

.content__media {
    grid-column: 2/3;
    grid-row: 1;
    margin-block-end: 0;
    margin-block-start: calc(var(--size-24) * -1)
}
  }

.content__media img {
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-3);
    inline-size: 100%;
  }

/* If an event, the label for event type is center-aligned at the bottom
  of the image. */

.content__media .event__type {
    align-items: center;
    background-color: var(--op-blue);
    block-size: var(--size-10);
    color: var(--white);
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
  }

.content__sidebar--label,
.content__share {
  font-family: var(--font-heading);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-600);
  margin-block-end: var(--size-1);
  margin-block-start: var(--size-10);
}

.content__sidebar--label {
  display: block;
}

.content__main {
  padding-block: var(--size-8);
}

@media (width >= 1024px) {

.content__main {
    padding-block-end: var(--size-12)
}
  }

/* The `super-large` selector is for images that span a max width of 1376px
and are center-aligned in the page. */

.super-large {
  margin-inline: auto;
  max-inline-size: var(--size-max-content-width);
}
