/**
 * @file
 * Site Footer.
 */

.site-footer {
  background-color: #f1f0f0;
  clip-path: var(--site-footer-clip-path, none);
  padding-block-end: var(--size-8);
  padding-block-start: var(--site-footer-padding-block-start, var(--size-20));
  position: relative;
}

.site-footer .container {
    padding-inline: 0;
  }

.site-footer__content {
  margin-block-end: var(--size-4);
}

@media (width >= 1280px) {

.site-footer__utility {
    align-items: center
}
  }

.site-footer__branding {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 7;
  margin-block-end: var(--size-6);
}

@media (width >= 1280px) {

.site-footer__branding {
    grid-column: 1 / 5
}
  }

.site-footer__menu {
  grid-column: 1 / 7;
}

@media (width >= 1280px) {

.site-footer__menu {
    grid-column: 6 / 9
}
  }

.site-footer__nmnh {
  grid-column: 1 / 7;
}

@media (width >= 1280px) {

.site-footer__nmnh {
    grid-column: 10 / 12
}
  }

.site-footer__utility ~ .site-footer__extra {
  margin-block-start: var(--size-6);
}

.site-footer__extra {
  display: block;
}
