/**
 * @file
 * Site header.
 */

:root {
  --header-outer-height: 156px;
  --header-inner-height: 92px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}

.site-header {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  inset-block-start: 0;
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  z-index: var(--layer-30);
}

/* Take into account logged in user */

.gin--vertical-toolbar .site-header {
    inset-block-start: 87px;
  }

@media (width >= 976px) {

.gin--vertical-toolbar .site-header {
      inset-block-start: 60px
  }
    }

/* Take into account site alert */

[data-alert="true"] .site-header {
    inset-block-start: -70px;
  }

/* Take into account logged in user */

[data-alert="true"] .gin--vertical-toolbar .site-header {
      inset-block-start: 18px;
    }

@media (width >= 976px) {

[data-alert="true"] .gin--vertical-toolbar .site-header {
        inset-block-start: -9px
    }
      }

/* Take into account node preview */

[data-once="node-preview"] .site-header {
    inset-block-start: 109px;
  }

@media (width >= 976px) {

[data-once="node-preview"] .site-header {
      inset-block-start: 70px
  }
    }

/* Take into account alert and node preview */

[data-alert="true"][data-once="node-preview"] .site-header {
    inset-block-start: 40px;
  }

@media (width >= 976px) {

[data-alert="true"][data-once="node-preview"] .site-header {
      inset-block-start: 0
  }
    }
