/**
 * @file
 * Skip link styles.
 */

.slide-show__slide {
  background: #FFF;
  display: table;
  margin: 20px auto;
  max-width: 1400px;
  padding: 0;
  position: relative;
  width: 100%;
}

.slide-show__slide img {
    clear: none;
    display: block;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
  }

@media (width >= 768px) {

.slide-show__slide img {
      float: left;
      width: 57.4468%
  }
    }

.slide-show__slide figcaption {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    width: 100%;
  }

@media (width >= 768px) {

.slide-show__slide figcaption {
      float: right;
      padding: 15px 15px 15px 0;
      width: 40.4255%
  }
    }

.slide-show__slide figcaption .slide-credit {
      color: #535353;
      display: block;
      margin-bottom: 7px;
      width: 100%;
    }

.slide-show__slide figcaption h2 {
      margin-block-end: var(--size-3);
    }

.slide-show__slide figcaption .body-text p:last-of-type {
        margin: 0;
      }

