/**
 * @file
 * Text styles.
 * See also Prose styling for all text elements.
 */

.timeline-segment.intro,
  .timeline-segment .not-intro {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

@media (width >= 768px) {

.timeline-segment.intro,
  .timeline-segment .not-intro {
      flex-direction: row
  }
    }

.timeline-segment .segment-side-wrapper {
    margin-top: 15px;
  }

@media (width >= 768px) {

.timeline-segment .segment-side-wrapper {
      margin-top: 70px;
      width: 17.75%
  }
    }

.timeline-segment .segment-side-wrapper .title {
      color: #4bc7ec;
      font-family: var(--font-heading);
      font-size: 5vw;
      font-weight: 700;
      line-height: var(--size-7);
      padding: 5px 10px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

@media (width >= 768px) {

.timeline-segment .segment-side-wrapper .title {
        font-size: var(--size-6)
    }
      }

.timeline-segment .segment-side-wrapper .sub-title {
      font-size: 4vw;
      margin: 25px 0 0 25px;
      text-transform: none;
    }

@media (width >= 768px) {

.timeline-segment .segment-side-wrapper .sub-title {
        margin: 40px 0 0 10px
    }
      }

@media (width >= 768px) {

.timeline-segment .segment-side-wrapper .sub-title {
        font-size: var(--size-6)
    }
      }

.timeline-segment .elements-wrapper {
    margin: 25px;
  }

@media (width >= 768px) {

.timeline-segment .elements-wrapper {
      margin-left: 35px;
      margin-right: 70px;
      margin-top: 70px;
      width: 82.25%
  }
    }

@media (width >= 768px) {

.timeline-segment .elements-wrapper {
      width: 82.75%
  }
    }

.not-trad__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.not-trad__wrapper .hero__overview_overlay {
    display: none;
  }

.not-trad__wrapper.left-border-padding {
    padding-left: 0;
  }

.not-trad__wrapper .left-border-padding {
    padding-left: 0;
  }

.not-trad__wrapper .timeline-segment {
    width: 100%;
  }

.not-trad__wrapper .intro_wrapper h2 {
      color: var(--op-blue);
      text-align: center;
    }

.not-trad__wrapper .not-intro_wrapper h2 {
      color: white;
    }

.not-trad__wrapper .overview--header {
    display: flex;
    flex-wrap: wrap;
  }

.not-trad__wrapper .topic-header {
    width: 100%;
  }

.not-trad__wrapper .timeline--timeline-section {
    display: flex;
    flex-wrap: wrap;
  }

.not-trad__wrapper .timeline--timeline-section .background {
      width: 100%;
    }

.not-trad__wrapper .timeline--timeline-section .background .text-overlay {
        color: black;
        position: relative;
      }

.not-trad__wrapper .text-overlay .inner {
    width: 100%;
  }

.not-trad__wrapper .timeline-segment .elements-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-inline-size: 100%;
    width: 100%;
  }

.not-trad__wrapper .timeline-segment .elements-wrapper .timeline-text {
      margin: 0;
      padding: 0;
    }

.not-trad__wrapper .timeline-segment .elements-wrapper.intro_wrapper {
      margin: 0;
      padding: 50px 12vw;
      width: 100%;
    }

.not-trad__wrapper .timeline-segment .elements-wrapper.intro_wrapper .timeline-text {
        color: black;
        padding: 15px 0 0;
      }

.timeline-section__icons {
  align-items: center;
  display: flex;
  font-size: 2.89vw;
  justify-content: space-between;
  padding-top: 55px;
}

.timeline-section__icons img {
    max-width: 115px;
    width: 28%;
  }

@media (width >= 768px) {

.timeline-section__icons {
    font-size: 18px
}
  }
