/**
 * @file
 * Text styles.
 * See also Prose styling for all text elements.
 */

.timeline-icon {
  text-align: center;
  width: 33.333%
}

.timeline-icon__caption {
  color: var(--op-blue);
  font-weight: bold;
  width: 100%;
}
