/**
 * @file
 * Text styles.
 * See also Prose styling for all text elements.
 */

.timeline-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timeline-images .timeline-image:nth-last-child(2),
    .timeline-images .timeline-image:nth-last-child(2) ~ .timeline-image {
      width: 100%;
    }

@media (width >= 768px) {

.timeline-images .timeline-image:nth-last-child(2),
    .timeline-images .timeline-image:nth-last-child(2) ~ .timeline-image {
        width: 49%
    }
      }

.timeline-images .timeline-image {
    margin-bottom: 25px;
    text-align: center;
}

@media (width >= 768px) {

.timeline-images .timeline-image {
      text-align: inherit
  }
    }

.timeline-images .timeline-image img {
      width: 100%;
    }

.timeline-images .timeline-image .image-caption {
      font-style: italic;
      margin-left: auto;
      margin-right: auto;
      max-width: 85%;
      padding-top: 10px;
      text-align: left;
    }

@media (width >= 768px) {

.timeline-images .timeline-image .image-caption {
        max-width: inherit
    }
      }

/* one item */

.timeline-images .timeline-image:nth-last-child(1) {
    width: 100%;
  }

/* three items */

.timeline-images .timeline-image:nth-last-child(3),
  .timeline-images .timeline-image:nth-last-child(3) ~ .timeline-image {
    width: 100%;
  }

@media (width >= 768px) {

.timeline-images .timeline-image:nth-last-child(3),
  .timeline-images .timeline-image:nth-last-child(3) ~ .timeline-image {
      width: 32.5%
  }
    }
