/**
 * @file
 * Text styles.
 * See also Prose styling for all text elements.
 */

.timeline-text {
  color: #fff;
  margin-bottom: 25px;
  padding: 20px;
}

.timeline-text a {
    color: white;
    text-decoration: underline;
  }

.timeline-text iframe {
    display: block;
  }

.timeline-text .align-center.embedded-entity {
    display: block;
  }

.timeline-text .align-center.embedded-entity .video__container {
      margin: 0 auto;
      max-width: 1000px;
      width: 100%;
    }

.timeline-text .align-center.embedded-entity .video__caption {
      margin-bottom: 0;
    }
