/**
 * @file
 * Typewriter styles.
 */

.typewriter-cta {
  align-items: center;
  background-color: var(--santa-barbara-sand);
  display: flex;
  min-block-size: 220px;
  padding-block: var(--size-8);
}

.bg-venice-canal .typewriter-cta {
    background-color: var(--venice-canal);
  }

.Typewriter__wrapper {
  color: var(--midnight-joshua-tree);
  margin-block: 0;
}

/* If venice-canal background color is applied, text color changes to white. */

.bg-venice-canal .Typewriter__wrapper {
    color: var(--white);
  }

.Typewriter__cursor {
  color: var(--southbay-waves);
}

/* Cursor color changes to yellow if venice-canal background color is added. */

.bg-venice-canal .Typewriter__cursor {
    color: var(--ucla-yellow);
  }
