/**
 * @file
 * View grid styles.
 */

.view-grid__container {
  inline-size: 100%;
  padding-block: var(--size-8);
}

.view-grid__grid {
  display: grid;
  gap: var(--size-8);
  grid-gap: var(--size-8);
}

@media (width >= 768px) {

.view-grid__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
  }
