{{ attach_library('surface/surface-marquee') }}
<div class="surface-marquee{{ modifier ? ' ' ~ modifier }}">
  <div class="surface-marquee__track">
    {% for i in 1..2 %}
      {% for item in items %}
        <span class="surface-marquee__item">{{ item }} <span class="surface-marquee__dot">◆</span></span>
      {% endfor %}
    {% endfor %}
  </div>
</div>
