<div class="place-container">
  <div class="place-content">
    {{ content.body|field_value }}
  </div>
  <div class="place-sidebar">
    {% include '@components/map/map.twig' with {
      'map_id': 'place-map-' ~ node.id,
      'center': node.schema_latitude.value ~ ',' ~ node.schema_longitude.value,
      'zoom': 13,
      'markers': [{
        'lat': node.schema_latitude.value,
        'lon': node.schema_longitude.value,
        'label': '<strong>' ~ node.label ~ '</strong>'
      }]
    } only %}
  </div>
</div>
