{#
/**
 * @file
 * Trip (TouristTrip) node template.
 * Builds a multi-marker map from schema_destination Place nodes,
 * renders article-header, map, and body.
 */
#}

{% set markers = [] %}
{% for item in node.schema_destination %}
  {% set place = item.entity %}
  {% if place and place.schema_latitude.value %}
    {% set markers = markers|merge([{
      'lat':   place.schema_latitude.value,
      'lon':   place.schema_longitude.value,
      'color': '#3a5a40',
      'label': '<strong>' ~ place.label ~ '</strong>',
    }]) %}
  {% endif %}
{% endfor %}

{% set depart = node.field_departure_date.value %}
{% set arrive = node.field_arrival_date.value %}
{% if depart and arrive %}
  {% set date_display = depart|date('F j') ~ '–' ~ arrive|date('F j, Y') %}
{% elseif depart %}
  {% set date_display = depart|date('F j, Y') %}
{% else %}
  {% set date_display = node.schema_date_published.value|date('F j, Y') %}
{% endif %}

{% include '@collections/article-header/article-header.twig' with {
  'title': node.label,
  'date':  date_display,
} only %}

{% if markers %}
  {% include '@components/map/map.twig' with {
    'map_id':      'trip-map-' ~ node.id,
    'center':      markers[0].lat ~ ',' ~ markers[0].lon,
    'zoom':        8,
    'interactive': 'true',
    'markers':     markers,
  } only %}
{% endif %}

<div class="prose">
  {{ content.field_body|field_value }}
</div>
