{% if content %}
  {% include '@components/nav/nav.twig' with {
    'logo_text': 'Sean Montague <span>/ Burke, VT</span>',
    'logo_url': path('<front>'),
    'modifier': is_front ? '' : 'nav--scrolled',
  } only %}
{% endif %}
