/**
 * @file
 * Button group styles.
 */

.button-group {
  margin-block-end: var(--size-5);
}

.button-group__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  inline-size: 100%;
}

@media (width >= 768px) {

.button-group__list {
    flex-direction: row
}
  }

.button-group__link {
  align-items: center;
  background-color: var(--gray-200);
  block-size: var(--size-14);
  border: 1px solid var(--gray-300);
  color: var(--gray-900);
  display: flex;
  flex-grow: 1;
  font-size: var(--font-size-0);
  letter-spacing: 1px;
  padding-block: 0;
  padding-inline: var(--size-6);
  text-decoration: none;
  transition: background-color 0.2s;
}

.button-group__link:focus {
    outline: 3px solid var(--op-blue);
    outline-offset: -3px;
  }

.button-group__link:hover {
    background-color: var(--gray-100);
  }

.button-group__link.active,
  .button-group__link.is-active {
    color: var(--gray-900);
    font-weight: var(--font-weight-600);
    position: relative;
  }

.button-group__link.active::after, .button-group__link.is-active::after {
      block-size: auto;
      border-block-start: 6px solid var(--op-blue);
      content: "";
      inline-size: 100%;
      inset-block-end: -1px;
      inset-inline-start: 0;
      position: absolute;
    }
