/**
 * @file
 * Byline styles.
 */

.contact {
  color: var(--op-blue);
  font-family: var(--font-heading);
  font-size: var(--size-6);
  font-weight: var(--font-weight-600);
  line-height: var(--size-6);
}
