/**
 * @file
 * Event styles.
 */

.event__content--details .event__title {
    margin-block-end: var(--size-2);
  }

.event__content--details .event__subtitle {
    font-size: var(--font-size-5);
    margin-block-end: var(--size-5);
  }

/** TODO: Move this to Page Header **/

.page-header__text a {
    color: var(--white);
  }

.page-header__text a:hover {
      border-bottom-color: var(--white);
      color: var(--white);
    }

.event__meta {
  align-items: center;
  display: flex;
}

.event__meta .date-badge {
    margin-inline-end: var(--size-6);
  }

.event__date-and-organization .event__next,
  .event__date-and-organization .event__organization-name {
    font-size: var(--font-size-2);
    margin-block-start: var(--size-2);
  }

.event__organization-name a,
  .event__organization-name a:hover {
    align-items: center;
    color: var(--ucla-yellow);
    display: flex;
    font-weight: var(--font-weight-600);
  }

.event__organization-name svg {
    inline-size: var(--size-3);
    margin-inline-end: var(--size-2);
  }

/* Labels for "Next date" and "Upcoming dates". */

.event__instance--label {
  display: block;
  font-size: var(--font-size-0);
  text-transform: uppercase;
}

.event__upcoming-dates--wrapper {
  margin-block-start: var(--size-6);
}

/* Each upcoming date item. */

.event__upcoming-dates--wrapper li {
    margin-block-end: var(--size-2);
  }

.event__address {
  margin-block-end: var(--size-1);
  margin-block-start: var(--size-10);
}

.event__address .address__organization-name {
    margin-block-end: var(--size-2);
  }

/* Hides country from view. */

.event__address .country {
    display: none;
  }

.event__host span {
    font-weight: var(--font-weight-600);
  }
