/**
 * @file
 * Topic Featured Articles layout.
 */

.banner-credit {
  font-size: var(--font-size-2);
}

.banner-credit a {
    color: var(--op-blue);
  }

.topic--feature-articles .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 0;
  }

.topic--feature-articles .card--featured-content {
    margin-block-end: var(--size-13);
    width: 31.5%;
  }

.topic--feature-articles .pager {
    border-block-start: none;
    margin-block-start: 0;
    padding-block-start: 0;
  }
