/**
 * @file
 * Base Fonts.
 */

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300 700;
  src: url("/css/Oswald-VariableFont_wght.css") format("truetype-variations");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400 800;
  src: url("/css/OpenSans-VariableFont_wdth_wght.css") format("truetype-variations");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400 800;
  src: url("/css/OpenSans-Italic-VariableFont_wdth_wght.css") format("truetype-variations");
}
