/**
 * @file
 * Page styles.
 *
 */

/** Lesson Plan content layout.
 * These styles are shared by Events, Person and Articles full nodes.
 * The styles are simply for the two column content are.
 */

.lesson-plan__tags .tags {
      padding-block-end: 0;
      padding-block-start: 0;
    }

.lesson-plan__tags .tags span {
        font-weight: 400;
      }

.lesson-plan__tags .tags span.Source {
        margin-right: 45px;
      }

.lesson-plan__tags .tags span.Subjects {
        margin-right: 30px;
      }

.lesson-plan__tags .tags span.Grades {
        margin-right: 47px;
      }

.lesson-plan-file a {
      display: inline-block !important;
      font-size: var(--size-7);
      font-weight: 700;
      letter-spacing: -0.75px;
      margin-block-end: 100px;
      text-transform: capitalize;
      transform: scale(1, 1.15);
    }

.lesson-plan .topic--feature-articles .view-content {
    display: block;
  }

.lesson-plan .topic--feature-articles .view-content .views-infinite-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

.literacy-principles {
  background-color: #f7f7f7;
  margin-block-end: 100px;
  padding: 45px 50px;
  width: 100%;
}

.literacy-principles h2 {
    margin-block-start: 0;
  }
