/**
 * @file
 * Mercury dialog overrides.
 */

mercury-dialog .me-horizontal-tab-radios input:focus+label {
      outline: 2px solid var(--op-blue) !important;
    }

/* Layout tab */

mercury-dialog .me-tab-group--layout .layout-select {
      gap: var(--size-4);
    }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item {
        display: flex;
      }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item:hover label.option, mercury-dialog .me-tab-group--layout .layout-select .layout-select__item:focus label.option {
            outline: 2px solid var(--op-blue);
          }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item label.option {
          border-radius: 0;
          font-family: var(--font-system);
          inline-size: 100%;
          line-height: var(--leading-none);
          outline: 1px solid var(--gray-200);
          padding: var(--size-2);
        }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item input:checked+label.option {
          outline: 2px solid var(--op-blue);
        }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item-icon {
        flex-shrink: 0;
        margin-inline-end: var(--size-2);
      }

mercury-dialog .me-tab-group--layout .layout-select .layout-select__item-title {
        font-size: var(--font-size-0);
        inline-size: -moz-min-content;
        inline-size: min-content;
      }

/* Styles tab */

mercury-dialog .me-tab-group--styles summary {
      background-color: var(--santa-barbara-sand);
      margin-block-end: 0;
      text-transform: none;
    }

mercury-dialog .me-tab-group--styles summary:hover {
        background-color: var(--santa-barbara-sand);
        color: var(--black);
      }

mercury-dialog .me-tab-group--styles summary:hover::before {
          background-color: var(--black);
        }

mercury-dialog .me-tab-group--styles legend {
      text-transform: none;
    }

mercury-dialog .me-tab-group--styles .form-item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-block: var(--size-4);
    }

mercury-dialog .me-tab-group--styles .form-item--layout-paragraphs-config-label {
      display: none;
    }

mercury-dialog .me-tab-group--styles .form-select {
      block-size: var(--size-12);
      max-inline-size: 100%;
      max-inline-size: 20rem;
      padding-block: 0;
      padding-inline-end: var(--size-10);
    }

mercury-dialog .me-tab-group--styles select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: var(--white);
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
      background-position: right var(--size-2) center;
      background-repeat: no-repeat;
      background-size: var(--size-6) var(--size-6);
      border-radius: var(--radius-2);
      border-width: 1px;
      color: var(--gray-900);
      cursor: pointer;
      display: inline-flex;
      flex-shrink: 0;
      padding-inline-start: var(--size-4);
      touch-action: manipulation;
      transition-duration: 0.2s;
      transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
      transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

mercury-dialog .me-tab-group--styles select:focus {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
        box-shadow: none;
        outline: 2px solid var(--gray-300);
        outline-offset: 2px;
      }

mercury-dialog .me-tab-group--styles select[disabled] {
        background-color: var(--gray-100);
        color: var(--gray-500);
      }

mercury-dialog .me-tab-group--styles select.error {
        border: solid 2px var(--red-900);
      }

mercury-dialog .me-tab-group--styles select.error:focus {
          outline-color: var(--red-900);
        }

mercury-dialog .me-tab-group--styles select[multiple] {
        background-image: none;
        block-size: auto;
        line-height: 1;
        padding: var(--size-2);
      }

mercury-dialog .me-tab-group--styles select[multiple] option {
          padding: var(--size-2);
        }

mercury-dialog .me-tab-group--styles .form-type--boolean {
      margin-inline-start: 0;
    }

mercury-dialog .me-tab-group--styles .form-type--boolean .form-boolean {
        float: none;
        inset-block-start: 0;
        margin-inline-start: 0;
        transform: none;
      }

mercury-dialog .me-tab-group--styles .container-inline div,
      mercury-dialog .me-tab-group--styles .container-inline label {
        align-items: center;
        display: inline-flex;
        margin-inline-end: var(--size-2);
      }

mercury-dialog .me-tab-group--styles .container-inline .form-item {
        margin-block-start: 0;
      }

mercury-dialog .me-tab-group--styles .container-inline .form-type--checkbox {
        flex-direction: row;
      }

/* Checkbox */

mercury-dialog .me-tab-group--styles input[type="checkbox"] {
      --chkbg: 215 28% 17%;
      --chkfg: 0 0% 100%;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: var(--white);
      block-size: var(--size-6);
      border-radius: var(--radius-2);
      border-width: 1px;
      cursor: pointer;
      display: inline-block;
      flex-shrink: 0;
      inline-size: var(--size-6);
      margin-inline-end: var(--size-2);
      vertical-align: text-bottom;
    }

mercury-dialog .me-tab-group--styles input[type="checkbox"]:checked,
      mercury-dialog .me-tab-group--styles input[type="checkbox"][checked="true"],
      mercury-dialog .me-tab-group--styles input[type="checkbox"][aria-checked="true"] {
        animation: checkmark 0.2s ease-in-out;
        background-color: var(--gray-900);
        background-image:
          linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 66%),
          linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 76%),
          linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 41%),
          linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(var(--chkfg)) 31%, hsl(var(--chkfg)) 40%, transparent 41%),
          linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 51%);
        background-repeat: no-repeat;
      }

mercury-dialog .me-tab-group--styles input[type="checkbox"]:focus {
        outline: 2px solid var(--gray-300);
        outline-offset: 2px;
      }

mercury-dialog .me-tab-group--styles input[type="checkbox"] + label {
        margin-block-end: 0;
        padding-inline-start: var(--size-2);
      }

@keyframes checkmark {
      0% {
        background-position-y: 5px;
      }

      50% {
        background-position-y: -2px;
      }

      100% {
        background-position-y: 0;
      }
    }

mercury-dialog .me-tab-group--styles input[type="radio"] {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: var(--white);
      block-size: var(--size-6);
      border-color: var(--gray-300) !important;
      border-radius: var(--radius-round);
      border-width: 1px;
      color: currentColor;
      display: grid;
      font: inherit;
      inline-size: var(--size-6);
      margin: 0;
      place-content: center;
      transform: translateY(-0.075em);
    }

mercury-dialog .me-tab-group--styles input[type="radio"]::before {
        block-size: var(--size-4);
        border-radius: var(--radius-round);
        box-shadow: inset 1em 1em var(--black);
        content: "";
        inline-size: var(--size-4);
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

mercury-dialog .me-tab-group--styles input[type="radio"]:checked,
      mercury-dialog .me-tab-group--styles input[type="radio"][checked="true"],
      mercury-dialog .me-tab-group--styles input[type="radio"][aria-checked="true"] {
        box-shadow: none;
      }

mercury-dialog .me-tab-group--styles input[type="radio"]:checked:hover, mercury-dialog .me-tab-group--styles input[type="radio"][checked="true"]:hover, mercury-dialog .me-tab-group--styles input[type="radio"][aria-checked="true"]:hover {
          background-color: inherit;
          box-shadow: none;
        }

mercury-dialog .me-tab-group--styles input[type="radio"]:checked:focus, mercury-dialog .me-tab-group--styles input[type="radio"][checked="true"]:focus, mercury-dialog .me-tab-group--styles input[type="radio"][aria-checked="true"]:focus {
          box-shadow: none;
        }

mercury-dialog .me-tab-group--styles input[type="radio"]:checked:active, mercury-dialog .me-tab-group--styles input[type="radio"][checked="true"]:active, mercury-dialog .me-tab-group--styles input[type="radio"][aria-checked="true"]:active {
          box-shadow: none;
        }

mercury-dialog .me-tab-group--styles input[type="radio"]:checked::before, mercury-dialog .me-tab-group--styles input[type="radio"][checked="true"]::before, mercury-dialog .me-tab-group--styles input[type="radio"][aria-checked="true"]::before {
          transform: scale(1);
        }

mercury-dialog .me-tab-group--styles input[type="radio"]:hover {
        box-shadow: none;
      }

mercury-dialog .me-tab-group--styles input[type="radio"]:focus {
        box-shadow: none;
        outline: 2px solid var(--gray-300);
        outline-offset: 2px;
      }

mercury-dialog .me-tab-group--styles input[type="radio"]:active {
        box-shadow: none;
      }

mercury-dialog .me-tab-group--styles input[type="radio"] + label {
        display: inline-block;
        font-size: var(--font-size-0);
        padding-inline-start: var(--size-2);
        transform: translateY(1em)
      }

/* Styles for background color options within the layout selection screen. */

mercury-dialog .me-tab-group--styles [data-drupal-selector="edit-layout-paragraphs-config-layout-background"] input[type="radio"] {
        block-size: var(--size-20);
        border-radius: var(--size-1);
        inline-size: var(--size-20);
      }

/* Santa Barbara Sand color option. */

mercury-dialog .me-tab-group--styles [data-drupal-selector="edit-layout-paragraphs-config-layout-background"] input[type="radio"][value="bg-santa-barbara-sand"] {
          background-color: var(--santa-barbara-sand);
        }

/* Venice Canal color option. */

mercury-dialog .me-tab-group--styles [data-drupal-selector="edit-layout-paragraphs-config-layout-background"] input[type="radio"][value="bg-venice-canal"] {
          background-color: var(--venice-canal);
        }

/* Button pane */

mercury-dialog .me-dialog__buttonpane .button {
      align-items: center;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: var(--gray-300);
      border-color: var(--gray-300) !important;
      border-radius: 0 !important;
      border-style: solid !important;
      border-width: 1px !important;
      box-shadow: none !important;
      color: var(--black);
      cursor: pointer;
      display: inline-flex;
      font-family: var(--font-system);
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-700);
      inline-size: -moz-fit-content;
      inline-size: fit-content;
      justify-content: center;
      line-height: var(--leading-none);
      margin: 0;
      padding-block: var(--size-4);
      padding-inline: var(--size-6);
      position: relative;
      text-decoration: none !important;
      text-transform: none;
      transition: var(--transition-soft-linear);
      white-space: nowrap;
    }

mercury-dialog .me-dialog__buttonpane .button:visited {
        color: var(--black);
      }

mercury-dialog .me-dialog__buttonpane .button:hover {
        background-color: var(--gray-200);
        border-color: var(--gray-300) !important;
      }

mercury-dialog .me-dialog__buttonpane .button:focus {
        border-width: 1px !important;
        box-shadow: 0 0 var(--white), 0 0 0 2px var(--gray-400), 0 0 var(--white) !important;
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

mercury-dialog .me-dialog__buttonpane .button +.button {
        margin-inline-start: var(--size-2);
      }

mercury-dialog .me-dialog__buttonpane .button--primary {
      background-color: var(--op-blue);
      border-color: var(--op-blue) !important;
      color: var(--white) !important;
    }

mercury-dialog .me-dialog__buttonpane .button--primary:visited {
        background-color: var(--op-blue);
        color: var(--white);
      }

mercury-dialog .me-dialog__buttonpane .button--primary:hover {
        background-color: var(--silver-lake-reservoir) !important;
        border-color: var(--silver-lake-reservoir) !important;
        color: var(--white);
      }

mercury-dialog .me-dialog__buttonpane .button--primary:focus {
        box-shadow: 0 0 var(--white), 0 0 0 2px var(--op-blue), 0 0 var(--white) !important;
      }

mercury-dialog .me-dialog__buttonpane .button--primary:active {
        background-color: var(--silver-lake-reservoir);
        border-color: var(--silver-lake-reservoir) !important;
        color: var(--white);
      }

mercury-dialog .me-dialog__buttonpane .lpb-btn--confirm-delete {
      background-color: var(--red-700);
      border-color: var(--red-700) !important;
      color: var(--white) !important;
    }

mercury-dialog .me-dialog__buttonpane .lpb-btn--confirm-delete:visited {
        background-color: var(--red-700);
        color: var(--white);
      }

mercury-dialog .me-dialog__buttonpane .lpb-btn--confirm-delete:hover {
        background-color: var(--red-800) !important;
        border-color: var(--red-800) !important;
        color: var(--white);
      }

mercury-dialog .me-dialog__buttonpane .lpb-btn--confirm-delete:focus {
        box-shadow: 0 0 var(--white), 0 0 0 2px var(--red-700), 0 0 var(--white) !important;
      }

mercury-dialog .me-dialog__buttonpane .lpb-btn--confirm-delete:active {
        background-color: var(--red-800);
        border-color: var(--red-800) !important;
        color: var(--white);
      }
