/**
 * @file
 * Mercury table overrides.
 */

.lpb-dialog table {
    border: 0;
    border-collapse: collapse;
  }

.lpb-dialog table th:first-child {
        display: flex;
        justify-content: space-between;
        padding: var(--size-3);
      }

.lpb-dialog table th h4 {
        text-transform: none;
      }
