/**
 * @file
 * Mercury editor toolbar overrides.
 */

#me-toolbar > * {
    flex-basis: 0;
  }

#me-toolbar .me-toolbar__branding {
    display: none;
  }

#me-toolbar .me-mobile-presets {
    inset-inline-start: 40%;
    margin-inline-start: var(--size-2);
  }

.me-toolbar [class*="me-button"] {
    align-items: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: var(--gray-300);
    border-color: var(--gray-300);
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-system);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-700);
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    justify-content: center;
    line-height: var(--leading-none);
    padding-block: var(--size-4);
    padding-inline: var(--size-6);
    position: relative;
    text-decoration: none !important;
    text-transform: none;
    transition: var(--transition-soft-linear);
    white-space: nowrap;
  }

.me-toolbar [class*="me-button"]:visited {
      color: var(--black);
    }

.me-toolbar [class*="me-button"]:hover {
      background-color: var(--gray-200);
      border-color: var(--gray-300);
    }

.me-toolbar [class*="me-button"]:focus {
      border-width: 1px;
      box-shadow: 0 0 var(--white), 0 0 0 2px var(--gray-400), 0 0 var(--white);
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

.me-toolbar .me-button--primary {
    background-color: var(--op-blue);
    border-color: var(--op-blue);
    color: var(--white);
  }

.me-toolbar .me-button--primary:visited {
      background-color: var(--op-blue);
      color: var(--white);
    }

.me-toolbar .me-button--primary:hover {
      background-color: var(--silver-lake-reservoir);
      border-color: var(--silver-lake-reservoir);
      color: var(--white);
    }

.me-toolbar .me-button--primary:focus {
      box-shadow: 0 0 var(--white), 0 0 0 2px var(--op-blue), 0 0 var(--white);
    }

.me-toolbar .me-button--primary:active {
      background-color: var(--silver-lake-reservoir);
      border-color: var(--silver-lake-reservoir);
      color: var(--white);
    }
