/**
 * @file
 * Media Callout styles.
 */

.embedded-entity {
  display: block;
  margin-block-end: var(--size-6);
  margin-inline: auto;
  max-inline-size: var(--size-mobile-large);
  padding-inline: 0;
}

.media-callout__wrapper {
  margin-block-start: var(--size-3);
  padding-inline: 0;
}

.media-callout__image img {
    aspect-ratio: var(--ratio-photo);
    inline-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

.media-callout__teaser {
  font-size: var(--font-size-2);
  font-weight: 700;
}

.media-callout__teaser.media-callout__credit {
    color: var(--op-blue);
    font-style: italic;
    font-weight: 600;
  }

.media-callout__teaser.media-callout__credit :hover {
      text-decoration: underline;
    }

.media-callout__teaser p {
    display: inline-block;
    font-size: var(--size-4);
    margin-inline: 0;
    padding-block-end: 0;
  }

/* Text color changes if Venice Canal background is present. */

.bg-venice-canal .media-callout__teaser {
    color: var(--white);
  }

/* Text color changes if Santa Barbara Sand background is present. */

.bg-santa-barbara-sand .media-callout__teaser {
    color: var(--midnight-observatory);
  }

.video__container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video__container iframe,
  .video__container .si-dams-video{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
