/**
 * @file
 * Quicklinks styles.
 */

/* To allow the quicklinks to expand to the viewport width, we remove the original
  padding on small devices, but restore it on larger devices to ensure the
  quicklinks remains center-aligned. */

.quicklinks.container {
    padding: 0;
  }

@media (width >= 1024px) {

.quicklinks.container {
      padding: 0;
      padding: initial
  }
    }

.quicklinks__inner {
  padding: 0;
  position: relative;
}

@media (width >= 1440px) {

.quicklinks__inner {
    padding: 0
}

    [data-theme='labs-dynamic'] .quicklinks__inner {
      padding: var(--size-8);
    }
  }

/* Background color only applies if the quicklinks is in a one column layout
  for Labs and Labs Dynamic sites. */

.layout--onecol .quicklinks__inner {
    background-color: var(--quicklinks-bg);
  }

.quicklinks__title {
  color: var(--quicklinks-title);
  font-family: var(--font-heading);
  font-size: var(--font-size-8);
  line-height: var(--leading-normal);
  margin-block-end: var(--size-6);
}

/* Change the title text color based on background color being selected. */

.bg-santa-barbara-sand .quicklinks__title {
    color: var(--quicklinks-title), var(--midnight-observatory);
  }

.bg-venice-canal .quicklinks__title {
    color: var(--quicklinks-title), var(--white);
  }

/* For non-Labs sites, if the Venice Canal background exists, we set the
    title color to white. */

[data-theme='dgsom'] .bg-venice-canal .quicklinks__title,
    [data-theme='surface'] .bg-venice-canal .quicklinks__title {
      color: var(--white);
    }

/* The list of images in a quicklinks. */

.quicklinks__items {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(3, 1fr);
}

@media (width >= 768px) {

.quicklinks__items {
    grid-template-columns: repeat(4, 1fr)
}
  }

@media (width >= 1024px) {

.quicklinks__items {
    gap: var(--size-8);
    grid-template-columns: repeat(4, 1fr)
}
  }

/* The anchor element wrapping the image. */

.quicklinks__link {
  display: block;
  position: relative;
}

/* Setting the overlay over the image but setting its opacity to 0% to
  make it invisible by default. */

.quicklinks__link::before {
    background-color: var(--burbank-blue);
    block-size: 100%;
    content: '';
    display: block;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: 0%;
    position: absolute;
    transition: opacity 0.4s;
    z-index: var(--layer-1);
  }

/* The "expand" icon on each image which is hidden by default. */

.quicklinks__link svg {
    block-size: var(--size-3);
    color: var(--white);
    display: block;
    inline-size: var(--size-3);
    inset-block-start: var(--size-2);
    inset-inline-end: var(--size-2);
    opacity: 0%;
    position: absolute;
    transition: opacity 0.4s;
    z-index: var(--layer-10);
  }

/* Slightly bigger icon and repositioned. */

@media (width >= 1024px) {

.quicklinks__link svg {
      block-size: var(--size-6);
      inline-size: var(--size-6);
      inset-block-start: var(--size-5);
      inset-inline-end: var(--size-5)
  }
    }

/* When someone hovers over any image, the overlay opacity is changed to 55%
  thus becoming visible on hover only. */

.quicklinks__link:hover::before, .quicklinks__link:focus::before {
      opacity: 55%;
    }

/* Increasing the exapand icon opacity to make it visible on hover. */

.quicklinks__link:hover svg, .quicklinks__link:focus svg {
      opacity: 80%;
    }

/* Top and bottom Polygon images. */

.quicklinks__top,
.quicklinks__bottom {
  display: none;
}

@media (width >= 768px) {
    .layout--onecol .quicklinks__top, .layout--onecol .quicklinks__bottom {
      display: block;
      inline-size: 100%;
    }
  }

.bg-santa-barbara-sand .quicklinks__top,
  .bg-venice-canal .quicklinks__top,
  .bg-santa-barbara-sand .quicklinks__bottom,
  .bg-venice-canal .quicklinks__bottom {
    display: none;
  }

/* Removes a 1px white line created by the polygon image. */

.quicklinks__top {
  margin-block-end: -1px;
}

/* Overrides caption background and sets caption text to white. */

.gslide-description {
  background-color: transparent !important;
  color: var(--white) !important;
}
