/**
 * @file
 * Share styles.
 */

.share {
  align-items: center;
  display: flex;
}

.share div {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-500);
    margin-inline-end: var(--size-4);
  }

.share ul {
    display: flex;
    gap: var(--size-4);
  }

.share a {
    --size: 40px;
    block-size: var(--size);
    display: flex;
    inline-size: var(--size);
  }

.share svg {
    --size: 30px;
    block-size: var(--size);
    color: var(--gray-900);
    display: block;
    font-size: inherit;
    inline-size: var(--size);
    margin: auto;
  }
