/**
 * @file
 * Site secondary.
 */

.site-secondary {
  background-color: var(--op-blue);
  color: var(--white);
  inline-size: 100%;
  opacity: 100%;
}

/* Hidden state: fade out and move up slightly. */

.site-secondary.hidden {
  opacity: 0%;         /* Fade out */
  pointer-events: none;       /* So it's not clickable while hidden */
  transform: translateY(-20px); /* Slide up 20px (optional) */

}

.site-secondary__content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-block-size: 54px;
  position: relative;
}

@media (width >= 1024px) {

.site-secondary__content {
    justify-content: space-between;
    margin-inline-end: -16px
}
  }

.site-secondary__buttons {
  align-items: center;
  display: flex;
  inline-size: 100%;
  justify-content: flex-end;
}
