/**
 * @file
 * Text styles.
 * See also Prose styling for all text elements.
 */

.text {
  display: flow-root;
  margin-block-end: var(--size-10);
}

/* Remove bottom margin if parent container has margin class. */

[class^="mb-"] .text {
    margin-block-end: 0;
  }

/* Venice Canal background color. */

.bg-venice-canal .text {
    color: var(--white);
  }

.bg-venice-canal .text :where(h2, h3, h4, h5, h6, li::marker) {
      color: var(--white);
    }

.bg-venice-canal .text a:not(.button) {
      color: var(--white);
      text-decoration: underline;
    }

.bg-venice-canal .text blockquote {
      border-inline-start-color: var(--chumash-soil);
    }

/* Santa Barbara Sand background color. */

.bg-santa-barbara-sand .text li::marker {
      color: var(--midnight-observatory);
    }

/* Text component following another text component. */

.text + .text {
    margin-block-end: var(--size-10);
  }

/* Misc components following a text component. */

.text + :where(.accordion, .image-embed, .section, .callout) {
    margin-block-start: var(--size-10);
  }
