parameters:
  level: 6

  # If an ignored error is not matched, that's fine.
  reportUnmatchedIgnoredErrors: false

  ignoreErrors:

      - identifier: missingType.generics
      - identifier: missingType.iterableValue
      - identifier: function.deprecated
      - "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$(entity|summary|value|format|override|target_revision_id|title)\\.$#"
      - "#^Access to an undefined property.*\\:\\:\\$devel_generate\\.$#"
      - "#^Call to an undefined method Drupal\\\\Core\\\\Render\\\\RendererInterface\\:\\:renderInIsolation\\(\\)\\.$#"
      - "#^Call to method (writeln|confirm|select|choice)\\(\\) on an unknown class Drush\\\\Style\\\\DrushStyle\\.#"
      - "#^Missing parameter \\$bundle \\(string\\|null\\) in call to method Drupal\\\\schemadotorg\\\\SchemaDotOrgMappingManagerInterface\\:\\:getMappingDefaults\\(\\)\\.$#"
      - "#^Unable to resolve the template type Current in call to method static method Drupal\\\\Component\\\\Utility\\\\DeprecationHelper\\:\\:backwardsCompatibleCall\\(\\)#"
