{% extends '@layouts/site-container/site-container.twig' %}
{% block main %}
  <div class="prose" style="padding: 120px 48px;">
    <h1>Page not found</h1>
    <p>The page you were looking for doesn't exist. <a href="{{ path('<front>') }}">Go home</a>.</p>
  </div>
{% endblock %}
