{{ attach_library('surface/site-header') }}

<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
  <section class="site-secondary">
    <div class="container">
      <div class="site-secondary__content">

      </div>
    </div>
  </section>

  <section class="site-primary">
    <div class="container">
      <div class="site-primary__content">

      </div>
    </div>
  </section>
</header>
