{{ attach_library('surface/site-header') }}

<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
  <div class="site-header__container">
    <a href="{{ site_url|default('/') }}" class="site-header__logo">
      {{ site_name|default('Sean Montague')|raw }} <span>{{ site_slogan|default('Burke, VT')|raw }}</span>
    </a>

    {% block navigation %}
      {% include '@layouts/site-navigation/site-navigation.twig' with {
        'items': items
      } only %}
    {% endblock %}
  </div>
</header>
