/**
 * @file
 * Checkbox toggle styles.
 */
.checkbox-toggle {
  display: inline-block;
  height: var(--size-6);
  position: relative;
  width: var(--size-10);

  &__input {
    height: 0;
    opacity: 0%;
    width: 0;

    &:checked + .checkbox-toggle__switch {
      background-color: var(--blue-500);
    }

    &:checked + .checkbox-toggle__switch::before {
      transform: translateX(var(--size-4));
    }
  }

  &__switch {
    background-color: var(--grey-300);
    border-radius: var(--size-3);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;

    &::before {
      background-color: var(--white);
      border-radius: 50%;
      bottom: var(--size-1);
      content: "";
      height: var(--size-4);
      left: var(--size-1);
      position: absolute;
      transition: 0.4s;
      width: var(--size-4);
    }
  }
}
