{#
/**
 * @file
 * Template for checkbox toggle element.
 */
#}
{{ attach_library('surface/checkbox-toggle') }}

<div class="checkbox-toggle">
  <input{{ attributes.addClass('checkbox-toggle__input') }} />
  <span class="checkbox-toggle__switch"></span>
</div>
