{{ attach_library('surface/site-navigation') }}

<nav id="site-navigation" class="site-navigation" data-drupal-selector="site-navigation">
  <ul class="site-navigation__links">
    {% for item in items %}
      <li class="site-navigation__item">
        <a href="{{ item.url }}" class="site-navigation__link">{{ item.title|raw }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
