/**
 * @file
 * Details styles.
 */
.details {
  border: 1px solid var(--grey-200);
  margin-bottom: var(--size-4);

  &__summary {
    background-color: var(--grey-100);
    cursor: pointer;
    font-weight: var(--font-weight-500);
    padding: var(--size-2) var(--size-4);

    &:hover {
      background-color: var(--grey-200);
    }
  }

  &__wrapper {
    padding: var(--size-4);
  }

  &__description {
    color: var(--muted);
    font-size: var(--font-size-sm);
    margin-bottom: var(--size-2);
  }

  &__error-message {
    color: var(--red-700);
    font-weight: var(--font-weight-500);
    margin-bottom: var(--size-2);
  }
}
