{% extends "@layouts/site-container/site-container.twig" %}

{% block header %}
  {% include "@components/nav/nav.twig" with header %}
{% endblock %}

{% block main %}
  {{ attach_library('surface/site-homepage') }}
  {% include "@components/hero/hero.twig" with hero %}

  {% include "@components/marquee/marquee.twig" with marquee %}

  {% include "@collections/map-section/map-section.twig" with maps %}

  <section class="homepage__writing" id="writing">
    <span class="homepage__eyebrow">Writing</span>
    <div class="homepage__cards-grid">
      {% for card_item in writing.cards %}
        {% include "@components/card/card.twig" with card_item %}
      {% endfor %}
    </div>
  </section>

  <section class="homepage__places" id="places">
    <span class="homepage__eyebrow">Places & Projects</span>
    <div class="homepage__places-grid">
      {% for place in places.items %}
        {% include "@components/places-card/places-card.twig" with place %}
      {% endfor %}
    </div>
  </section>

  {% include "@components/about/about.twig" with about %}

  {% include "@components/contact/contact.twig" with contact %}
{% endblock %}

{% block footer %}
  {% include "@components/footer/footer.twig" with footer %}
{% endblock %}
