<div{{ attributes.addClass('paragraph', 'paragraph--type--trail-report') }}>
  {% include '@collections/places-card/places-card.twig' with {
    'title':      node.label,
    'date':       node.schema_date_published.value|date('M j, Y'),
    'image_url':  node.schema_image.entity.uri.value|image_style('large'),
    'category':   node.schema_category.entity.label,
    'url':        url,
    'stats': [
      { 'label': 'Dist', 'value': node.schema_distance.value, 'unit': 'mi' },
      { 'label': 'Gain', 'value': node.schema_elev_gain.value, 'unit': 'ft' },
    ]
  } only %}
</div>
